<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.6.5" targetFramework="net48" />
  <package id="LibVLCSharp.Forms" version="3.6.5" targetFramework="net48" />
  <package id="LibVLCSharp.WinForms" version="3.6.5" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.1.22076.8" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.16" targetFramework="net48" />
  <package id="Xamarin.Forms" version="5.0.0.2337" targetFramework="net48" />
</packages>